<h1>Welcome to Museums</h1>

<%= form_tag paintings_path, method: 'GET' do %>
	<%= text_field_tag :q %>
	<%= submit_tag "Search" %>
<% end %>

<table>
	<thead>
		<tr>
			<th>
				Museums
			</th>
		</tr>
	</thead>
	<tbody>
		<% @museums.each do |museum| %>
		<tr>
			<td> <%= link_to museum.name, museum_paintings_path(museum) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<%= link_to 'View all paintings', paintings_path %>